*, *::before, *::after {
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
}

.grid-cell.active {
  background-color: black;
}